* {
    margin: 0;
    padding: 0;
}

#sectionT {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  background-image: url("https://gmedia.playstation.com/is/image/SIEPDC/ps5-games-page-background-desktop-block-01-en-15jun20?$1200px$");
  background-size: cover;
  color: #fff;
  width: 100%;
}

#sectionT2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #000;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#content {
    margin: 0 auto;
}

.titre {
    font-size: 6vh;
    font-family: Arial, Helvetica, sans-serif;
}

.textT {
    font-size: 3.5vh;
    width: 50vw;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.textH {
    font-size: 3vh;
    width: 50vw;
    margin-top: 15px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.imgredu {
    width: 100px;
    height: 100px;
    margin-left: -100px;
}

#header {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 10vh;
}

#logo-sony {
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: 20px;
    background-color: black;
    color: white;
    justify-content: flex-end;
}

#nav-bar {
    display: flex;
    flex-direction: row;
}

#nav-button {
    flex: 0.25;
    display: flex;
    flex-direction: row;
    border: none;
    height: 100% auto;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: gray;
    background-color: white;
}

#nav-button:hover {
    color: #0172ce;
}

#nav-account {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#login-button {
    border: none;
    background-color: #404040;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

#search-bar {
    padding: 10px;
}

#nav-products {
    display: flex;
    flex-direction: row;
}

#button-product {
    flex: 0.25;
    position: fixeds;
    display: flex;
    flex-direction: row;
    border: none;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
}

#button-product:hover {
    color: #0172ce;
    border-bottom: 4px solid #0172ce;
}

#console-preview {
  justify-self: center;
  align-self: center;
  align-content: center;
  height: 100vh;
  width: 100%;
}

.ps5cap {
  font-size: 3vh;
  text-align: left;
  width: 60%;
  margin-top: 20px;
  margin-left: 100px;
}

.ps5caph1 {
  font-size: 5vh;
  text-align: left;
  width: 60%;
  margin-top: 20px;
  margin-left: 100px;
}

.ps5caph2 {
  font-size: 4vh;
  text-align: left;
  width: 50%;
  margin-top: 20px;
  margin-left: 100px;
}

#ps5cap {
  font-size: 6vh;
  letter-spacing: 3px;
  text-align: center;
  width: 650px;
  margin: 0 auto;
}

#ps5switch {
  margin-top: 75px;
}

#voirgam {
  width: auto;
  height: 50px;
  background-color: #d53b00;
  border: none;
  margin: 0 auto;
  color: #fff;
  font-size: 3vh;
  padding: 10px;
}
