* {
  margin: 0;
  padding: 0;
}

#sectionT {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 2px black;
  text-align: center;
  background-image: url("https://gmedia.playstation.com/is/image/SIEPDC/ps5-games-page-background-mobile-block-01-en-15jun20?$800px$");
  color: #fff;

  width: 100%;
}

#content {
  margin: 0 auto;
}

.titre {
  font-size: 6vh;
}

.textT {
  font-size: 4vh;
  width: 50vw;
  margin-top: 15px;
}

.textH {
  font-size: 4vh;
  width: 50vw;
  margin-top: 15px;
  text-align: left;
}

.textH::before {
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.imgredu {
  width: 100px;
  height: 100px;
}
